* {
  box-sizing: border-box;
}
body {
  background-color: aqua;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5469a6;
  padding: 10px;
}
button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: blueviolet;
  border: 0ch;
  font-size: larger;
  font-weight: 900;

  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cf9d75;
  padding: 10px;
}

main {
  background-color: #d1beae;
  border-bottom: 1px solid mediumorchid;
}
footer {
  display: flex;
  justify-content: center;
  background-color: green;
}
section {
  display: flex;
  justify-content: end;
  background-color: #d1beae;
}
main > ul {
  display: flex;
}
header > ul > li {
  display: flex;
  display: inline;
}
article {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
